<!-- Login Page Template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Coffee Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    {% if error %}
        <div style="color: red; margin-bottom: 1em;">{{ error }}</div>
    {% endif %}
    <form id="login-form" method="post" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autofocus><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button id="login-btn" type="submit">Login</button>
    </form>
</div>
</body>
</html>
